h1, h2, p, h4 {
	display: block;
	font-weight: normal;
	position: relative;
	font-family: avenir;
	margin-left:70px;
	margin-right:auto;
	width: 600px;

}
html {
	margin: 0;
	padding: 0;
	}

body { 
	font-family: avenir, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
	}

p { 
	margin-top: 0; 
	text-align: justify;
	line-height: 1;
	}

	

h2 { 
	font: bold normal 1.4em avenir, sans-serif;
	font-size:13px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	text-align: center;
	letter-spacing:6px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #ffd621;
	width: 330px;
	}
	
h4 {
	font: bold normal 1.4em avenir, sans-serif;
	font-size:13px;
	padding-top: 10px;
}
	
.top{
	background-color: #ffd621;
	background-repeat: no-repeat;
	background-size: cover;
	height:600px;
	padding-top: 15%;
	padding-bottom: 80px;
	}
	

.title{
	color: grey;
	font-family: bold normal 1.9em avenir, sans-serif;
	letter-spacing: 10px;
	text-align: center;
	position: absolute;
	margin-top: 0px;
	margin-left: 40%;
	width: 300px;
}


#map {
	height:800px;
	width:100%;
}

.earthquakelocations{
float:right;
}


.earthquakedetails{
padding-top: 100px;
}

